/* src/app/globals.css */
:root {
  /* Reduz o tamanho da fonte base do corpo do Bootstrap. O padrão é 1rem. */
  --bs-body-font-size: 0.875rem; /* Isso equivale a 14px se a base do navegador for 16px */

  /* Podemos também ajustar a altura da linha base, se necessário */
  --bs-body-line-height: 1.4;

  /* Reduzindo o padding padrão de alguns componentes Bootstrap globalmente (opcional) */
  /* --bs-card-spacer-y: 0.8rem; /* Padrão é 1rem */
  /* --bs-card-spacer-x: 0.8rem; /* Padrão é 1rem */
  /* --bs-nav-link-padding-y: 0.4rem; /* Padrão é 0.5rem */
}

body {
  margin: 0;
}

.logoTextPostur {
  color: #51b1ff; /* Cor azul claro exemplo para "Postur" */
}

.logoTextAves {
  color: #ffcc6c; /* Cor branca/cinza claro exemplo para "Aves" */
}
