/* src/app/globals.css */
:root {
  --azulceu1: #000000;
  --azulceu2: #0071bd;
  --azulesverdiado1: #274754;
  --azulesverdiado2: #46849c;
  --esverdiado1: #17a2b8;
  --esverdiado2: #1592a5;
  --esverdiado3: #106e7c;
  --amarelado1: #fcecc4;
  --amarelado2: #ffd774;
  --laranjado1: #f4a261;
  --laranjado2: #e76f51;
  --acinzentado1: #dddddd;
  --acinzentado2: #b3b3b3;
}

.logoTextPostur {
  color: #0099ff; /* Cor azul claro exemplo para "Postur" */
}

.logoTextAves {
  color: var(--amarelado2);
}

/* Formulários */
.form-label-sm,
.col-form-label-sm {
  font-size: small; /* Tamanho do texto label do input */
  margin-bottom: 0rem !important; /* Afastamento entre o label e o input */
  text-transform: uppercase !important;
  font-weight: 500;
}

.add-funcionario-btn {
  width: 32px;
  height: 32px;
  padding: 0; /* REMOVIDO padding original, para o flex ter controle total */
  display: flex;
  align-items: center;
  justify-content: center;
  /* line-height: 1; /* REMOVIDO ou pode manter se preferir */
}

@media (min-width: 768px) {
  .add-funcionario-btn {
    width: auto;
    height: auto;
    padding: 0.25rem 0.5rem; /* Padding padrão do btn-sm do Bootstrap para desktop */
  }
}

/* Espaçamento interno dos cards*/
.card {
  --bs-card-spacer-y: 0.5rem !important;
  --bs-card-spacer-x: 0.5rem !important;
}
